@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
:root {
  --fs-xsm: 15px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-2sm: 25px;
  --fs-2xl: 30px;
  --fs-3sm: 35px;
  --fs-3xl: 40px;
  --fs-4xl: 50px;
  --fs-5xl: 55px;
  --fs-6sm: 65px;
  --fs-6xl: 70px;
  --fs-7xl: 75px;
  --fs-8xl: 85px;
  --fs-15xl: 150px;
  --fs-20xl: 200px;
  --fs-45xl: 450px;
  --clr-black-100: #212024;
  --crl-black-200: #161515;
  --clr-white: white;
  --clr-red: #bf0404;
  --clr-gray-100: rgba(33, 32, 36, 0.75);
  --clr-gray-200: #e2e2e2;
  --clr-gray-300: #6d6d6d;
  --clr-white-100: #efefef;
}
.ff_inter {
  font-family: "Inter", sans-serif;
}
.ff_montserrat {
  font-family: "Montserrat", sans-serif;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_2sm {
  font-size: var(--fs-2sm);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3sm {
  font-size: var(--fs-3sm);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_6sm {
  font-size: var(--fs-6sm);
}
.fs_6xl {
  font-size: var(--fs-6xl);
}
.fs_7xl {
  font-size: var(--fs-7xl);
}
.fs_8xl {
  font-size: var(--fs-8xl);
}
.fs_15xl {
  font-size: var(--fs-15xl);
}
.fs_20xl {
  font-size: var(--fs-20xl);
}
.fs_45xl {
  font-size: var(--fs-45xl);
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_700 {
  font-weight: 700;
}
.fw_900 {
  font-weight: 900;
}
.ls_15em {
  letter-spacing: 0.15em;
}
.lh_100px {
  line-height: 100px;
}
.clr_black_100 {
  color: var(--clr-black-100);
}
.clr_red {
  color: var(--clr-red);
}
.clr_white {
  color: var(--clr-white);
}
.clr_white_100 {
  color: var(--clr-white-100);
}

.clr_black_200 {
  color: var(--crl-black-200);
}
.clr_gray_200 {
  color: var(--clr-gray-200);
}
.clr_gray_100 {
  color: var(--clr-gray-100);
}
.clr_gray_300 {
  color: var(--clr-gray-300);
}
.bg_red {
  background-color: var(--clr-red);
}
.bg_black_100 {
  background-color: var(--clr-black-100);
}
.phone {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: var(--clr-black-100);
  z-index: 29;
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: all 500ms ease-out;
  pointer-events: none;
}
.clip_path {
  clip-path: circle(75%);
  pointer-events: all;
}
.z_30 {
  z-index: 30;
}
.headercircle {
  position: absolute;
  width: 1601px;
  height: 1591px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  transform: translate(10%, -30%);
  z-index: -1;
}
.navcircle {
  position: absolute;
  width: 865px;
  height: 865px;
  border: 1px solid gray;
  border-radius: 100%;
  top: -55%;
  right: -15%;
  z-index: -1;
}
.multi_top {
  transform: translateY(-17%);
}
.btnred {
  background-color: var(--clr-red);
  padding: 16px 34px;
  transition: all 0.3s linear;
  border: 1px solid transparent;
}
.btnred:hover {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-red) !important;
  color: var(--clr-red);
}
.capetown_mw_160px {
  max-width: 160px;
}
.translate_y {
  transform: translateY(-66%);
}
.eyonah_1271px {
  height: 1271px;
}
.top_0 {
  top: -13%;
  z-index: 0;
}
.lh_320px {
  line-height: 320px;
}
.eyona_circle::after {
  content: "";
  position: absolute;
  width: 884px;
  height: 884px;
  top: 0;
  left: 0;
  border-radius: 100%;
  border: 1px solid gray;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.text_worldclass {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
}
.d_grid {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
}
.items_1 {
  grid-column: 2/5;
  grid-row: 1/2;
}
.items_2 {
  grid-column: 5/8;
  grid-row: 1/3;
}
.items_3 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.items_4 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.items {
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}
.headitems img {
  object-fit: cover;
}
.headitems1 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.headitems2 {
  grid-column: 1/2;
  grid-row: 3/7;
  height: 100%;
  object-fit: contain;
}
.headitems3 {
  grid-column: 2/3;
  grid-row: 3/7;
}
.headitems4 {
  grid-column: 1/2;
  grid-row: 7/11;
}
.headitems5 {
  grid-column: 2/3;
  grid-row: 5/9;
}
.items img {
  transition: all 0.3s linear;
  object-fit: cover;
}
.items img:hover {
  transform: scale(1.1);
}
.w_197 {
  width: 197px;
}
.h_197 {
  height: 197px;
}
.loading_back {
  z-index: 150;
}
.loading_back img {
  animation: preloder infinite 0.8s;
}
@keyframes preloder {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.truedatacard {
  border: 5px solid #215bc7;
  box-shadow: 0px 381px 153px rgba(33, 91, 199, 0.01),
    0px 215px 129px rgba(33, 91, 199, 0.05),
    0px 95px 95px rgba(33, 91, 199, 0.09), 0px 24px 52px rgba(33, 91, 199, 0.1),
    0px 0px 0px rgba(33, 91, 199, 0.1);
  border-radius: 25px;
}
.truedatacard::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  left: 0;
  transform: translateX(-50%);
  top: 20px;
  z-index: -1;
  background: #febd01;
  box-shadow: 0px 0px 50px rgba(239, 94, 79, 0.2);
}
.repforcecard {
  border: 5px solid #1caa68;
  box-shadow: 0px 381px 153px rgba(28, 170, 104, 0.01),
    0px 215px 129px rgba(28, 170, 104, 0.05),
    0px 95px 95px rgba(28, 170, 104, 0.09),
    0px 24px 52px rgba(28, 170, 104, 0.1), 0px 0px 0px rgba(28, 170, 104, 0.1);
  border-radius: 25px;
}
.assetforcecard {
  border: 5px solid #e50914;
  box-shadow: 0px 381px 153px rgba(229, 9, 20, 0.01),
    0px 215px 129px rgba(229, 9, 20, 0.04), 0px 95px 95px rgba(229, 9, 20, 0.06),
    0px 24px 52px rgba(229, 9, 20, 0.07), 0px 0px 0px rgba(229, 9, 20, 0.07);
  border-radius: 25px;
}
.hrmangement {
  border: 5px solid #47b59e;
  box-shadow: 0px 381px 153px rgba(71, 181, 158, 0.01),
    0px 215px 129px rgba(71, 181, 158, 0.05),
    0px 95px 95px rgba(71, 181, 158, 0.09),
    0px 24px 52px rgba(71, 181, 158, 0.1), 0px 0px 0px rgba(71, 181, 158, 0.1);
  border-radius: 25px;
}
.zooshcard {
  border: 5px solid #e83da3;
  box-shadow: 0px 381px 153px rgba(232, 61, 163, 0.01),
    0px 215px 129px rgba(232, 61, 163, 0.04),
    0px 95px 95px rgba(232, 61, 163, 0.06),
    0px 24px 52px rgba(232, 61, 163, 0.07), 0px 0px 0px rgba(232, 61, 163, 0.07);
  border-radius: 25px;
}
.arivucard {
  border: 5px solid #ef7c08;
  box-shadow: 0px 381px 153px rgba(239, 124, 8, 0.01),
    0px 215px 129px rgba(239, 124, 8, 0.05),
    0px 95px 95px rgba(239, 124, 8, 0.09), 0px 24px 52px rgba(239, 124, 8, 0.1),
    0px 0px 0px rgba(239, 124, 8, 0.1);
  border-radius: 25px;
}
.hrmangement::after {
  content: url(./assets/img/svg/hrmanagementlines.svg);
  position: absolute;
  right: 0;
  top: 20%;
  z-index: -1;
}
.zooshcard::after {
  content: url(./assets/img/svg/glass.svg);
  position: absolute;
  right: 0;
  top: 6%;
  z-index: -1;
}
.mt_neg52 {
  margin-top: -52px;
}
.mt_neg290 {
  margin-top: -290px;
}
.mt_neg170 {
  margin-top: -170px;
}
.mt_neg240 {
  margin-top: -247px;
}
.mt_neg136 {
  margin-top: -136px;
}
.bg_mapimg {
  background-image: url(./assets/img/webp/map.webp);
  background-repeat: no-repeat;
  background-size: contain;
  height: 667px;
}
.breymployees {
  border-radius: 0px 25px 25px 0px;
}
.borderradius {
  border-radius: 25px 0 0 25px;
}
.contacttext::before {
  content: "Contact";
  position: absolute;
  font-family: "Inter", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
  font-weight: 700;
  font-size: var(--fs-20xl);
  top: 20%;
  left: 5px;
  z-index: -1;
}
.message input {
  border-bottom: 1px solid #e6e6e6 !important;
  outline: none;
}
.message textarea {
  border: none;
  border-bottom: 1px solid #e6e6e6 !important;
  outline: none;
}
.message ::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--fs-sm);
  color: var(--clr-gray-200);
}
.sendbtn {
  transition: all 0.3s linear;
  padding: 16px 22px 16px 29px;
  box-shadow: 0px 88px 35px rgba(191, 4, 4, 0.03),
    0px 50px 30px rgba(191, 4, 4, 0.1), 0px 22px 22px rgba(191, 4, 4, 0.17),
    0px 6px 12px rgba(191, 4, 4, 0.2), 0px 0px 0px rgba(191, 4, 4, 0.2);
}
.sendbtn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black-100);
}
.mw_1071px {
  max-width: 1071px;
}
.sendusbtn {
  transition: all 0.3s linear;
  padding: 16px 18px 16px 30px;
  box-shadow: 0px 88px 35px rgba(191, 4, 4, 0.03),
    0px 50px 30px rgba(191, 4, 4, 0.1), 0px 22px 22px rgba(191, 4, 4, 0.17),
    0px 6px 12px rgba(191, 4, 4, 0.2), 0px 0px 0px rgba(191, 4, 4, 0.2);
}
.sendusbtn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black-100);
}
.textmagic {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
}
.recruitment_h600 {
  height: 600px;
}
.h_381 {
  height: 381px;
}
.footercircle::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  right: -223px;
  bottom: -220px;
  width: 1010px;
  height: 1010px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footerlogow_324 {
  width: 324px;
}
.linkdin svg path {
  transition: all 0.3s linear;
}
.linkdin svg:hover path {
  fill-opacity: 1;
}
.linkhover li a:hover {
  color: var(--clr-red);
}
.joincircle::before {
  content: "";
  position: absolute;
  width: 532px;
  height: 533px;
  border-radius: 100%;
  left: 0;
  transform: translate(-50%, -30%);
  top: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.recuitmentimgw_1000 {
  max-width: 1000px;
}
.teammanagement img {
  transition: all 0.3s linear;
  cursor: pointer;
}
.teammanagement::before {
  content: "eyona";
  position: absolute;
  font-family: "Inter", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
  font-weight: 700;
  font-size: var(--fs-20xl);
  top: 20%;
  left: 5px;
  z-index: 0;
}
.managmentimg:hover .stephandu {
  top: 0;
}
.team_w_215 {
  width: 215px;
}
.headerhover a {
  transition: all 0.3s linear;
}
.headerhover a:hover {
  color: var(--clr-red);
}
.stephandu {
  width: 100%;
  height: 100%;
  background-color: var(--clr-red);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  cursor: pointer;
  transition: all 0.5s linear;
}
@media (min-width: 1441px) {
  .lh_eyona {
    line-height: 242px;
  }
  .headercontainer {
    max-width: 1838px !important;
  }
  .navcontainer {
    max-width: 1804px !important;
  }
  .heromw_1738 {
    max-width: 1738px !important;
  }
  .eyonacontainer {
    max-width: 1584px !important;
  }
  .worldclass_container {
    max-width: 1808px !important;
  }
  .container_1576 {
    max-width: 1576px !important;
  }
  .container1466 {
    max-width: 1466px !important;
  }
  .container_1544 {
    max-width: 1544px !important;
  }
  .container_1552 {
    max-width: 1552px !important;
  }
  .container_1696 {
    max-width: 1696px !important;
  }
}
@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh;
  }
  .managements_1100 {
    height: 1100px;
  }
  .contacth_1000 {
    height: 1000px;
  }
  .lh_70px {
    line-height: 70px;
  }
  .passion_mw_1258px {
    max-width: 1258px;
  }
  .innovation_mw_933px {
    max-width: 933px;
  }
}
@media (max-width: 1440px) {
  :root {
    --fs-xsm: 15px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-2sm: 25px;
    --fs-2xl: 30px;
    --fs-3sm: 35px;
    --fs-3xl: 40px;
    --fs-4xl: 50px;
    --fs-5xl: 50px;
    --fs-6sm: 55px;
    --fs-6xl: 70px;
    --fs-7xl: 60px;
    --fs-8xl: 85px;
    --fs-15xl: 110px;
    --fs-20xl: 160px;
    --fs-45xl: 450px;
  }
  .eyona_circle::after {
    width: 600px;
    height: 600x;
  }
  .opacity_6 {
    opacity: 0.6;
  }
  .headercircle {
    width: 1000px;
    height: 1000px;
  }
  .navcircle {
    width: 700px;
    height: 700px;
  }
  .mt_neg290 {
    margin-top: -205px;
  }
  .recuitmentimgw_1000 {
    max-width: 690px;
  }
  .recruitment_h600 {
    height: 400px;
  }
  .team_w_215 {
    width: 200px;
  }
  .bg_mapimg {
    background-size: 100% 100%;
    height: 467px;
  }
  .teammanagement::before {
    top: 23%;
  }
  .multi_top {
    transform: translateY(-17%);
  }
}
@media (max-width: 1200px) {
  :root {
    --fs-xsm: 15px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 19px;
    --fs-2sm: 22px;
    --fs-2xl: 28px;
    --fs-3sm: 35px;
    --fs-3xl: 37px;
    --fs-4xl: 38px;
    --fs-5xl: 45px;
    --fs-6sm: 55px;
    --fs-6xl: 70px;
    --fs-7xl: 75px;
    --fs-8xl: 64px;
    --fs-15xl: 90px;
    --fs-20xl: 115px;
    --fs-45xl: 360px;
  }
  .w_197 {
    width: 120px;
  }
  .h_197 {
    height: 120px;
  }
  .contacttext::before {
    top: -7%;
  }
  .navcircle {
    width: 600px;
    height: 600px;
    top: -50%;
    right: -22%;
  }
  .lh_320px {
    line-height: 240px;
  }
  .eyonah_1271px {
    height: 980px;
  }
  .eyona_circle::after {
    display: none;
  }
  .mt_neg290 {
    margin-top: -193px;
  }
  .mt_neg170 {
    margin-top: -135px;
  }
  .mt_neg240 {
    margin-top: -180px;
  }
  .footercircle::after {
    width: 800px;
    height: 800px;
  }
  .h_381 {
    height: 200px;
  }
  .recuitmentimgw_1000 {
    max-width: 550px;
  }
  .recruitment_h600 {
    height: 300px;
  }
  .lh_100px {
    line-height: 85px;
  }
  .team_w_215 {
    width: 180px;
  }
  .bg_mapimg {
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .teammanagement::before {
    top: -11%;
  }
  .multi_top {
    transform: translateY(-22.5%);
  }
}
@media (max-width: 992px) {
  .headitems2 {
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
  }
  .headitems4 {
    grid-column: 1/2;
    grid-row: 5/9;
  }
  .multi_top {
    transform: translateY(0%);
  }
  :root {
    --fs-xsm: 15px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-2sm: 22px;
    --fs-2xl: 24px;
    --fs-3sm: 32px;
    --fs-3xl: 40px;
    --fs-4xl: 50px;
    --fs-5xl: 40px;
    --fs-6sm: 55px;
    --fs-6xl: 70px;
    --fs-7xl: 75px;
    --fs-8xl: 60px;
    --fs-15xl: 70px;
    --fs-20xl: 130px;
    --fs-45xl: 330px;
  }
  .lh_320px {
    line-height: 214px;
  }
  .eyonah_1271px {
    height: 900px;
  }
  .headercircle {
    width: 800px;
    height: 800px;
  }
  .navcircle {
    width: 600px;
    height: 600px;
    top: -30%;
    right: -19%;
  }
  .footercircle::after {
    display: none;
  }
  .h_381 {
    height: 0;
  }
  .recuitmentimgw_1000 {
    max-width: 450px;
  }
  .recruitment_h600 {
    height: 200px;
  }
  .lh_100px {
    line-height: 70px;
  }
  .team_w_215 {
    width: 150px;
  }
  .pernod_w_100 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-xsm: 15px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-2sm: 20px;
    --fs-2xl: 22px;
    --fs-3sm: 28px;
    --fs-3xl: 40px;
    --fs-4xl: 45px;
    --fs-5xl: 30px;
    --fs-6sm: 45px;
    --fs-6xl: 70px;
    --fs-7xl: 45px;
    --fs-8xl: 45px;
    --fs-15xl: 50px;
    --fs-20xl: 75px;
    --fs-45xl: 260px;
  }
  .lh_320px {
    line-height: 170px;
  }
  .eyonah_1271px {
    height: 700px;
  }
  .headercircle {
    width: 600px;
    height: 600px;
  }
  .navcircle {
    width: 500px;
    height: 500px;
    top: -24%;
    right: -19%;
  }
  .mt_neg170 {
    margin-top: -100px;
  }
  .mt_neg136 {
    margin-top: -80px;
  }
  .footerlogow_324 {
    width: 324px;
  }
  .footerlogow_324 {
    width: 220px;
  }
  .recruitment_h600 {
    height: 350px;
  }
  .lh_100px {
    line-height: 52px;
  }
  .joincircle::before {
    display: none;
  }
  .team_w_215 {
    width: 140px;
  }
  .teammanagement::before {
    top: -8%;
  }
}
@media (max-width: 576px) {
  .w_197 {
    width: 100px;
  }
  .h_197 {
    height: 100px;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 14px;
    --fs-lg: 14px;
    --fs-2sm: 18px;
    --fs-2xl: 20px;
    --fs-3sm: 24px;
    --fs-3xl: 24px;
    --fs-4xl: 24px;
    --fs-5xl: 24px;
    --fs-6sm: 25px;
    --fs-6xl: 70px;
    --fs-7xl: 26px;
    --fs-8xl: 26px;
    --fs-15xl: 29px;
    --fs-20xl: 45px;
    --fs-45xl: 220px;
  }
  .headercircle {
    width: 400px;
    height: 400px;
  }
  .navcircle {
    display: none;
  }
  .mt_neg290 {
    margin-top: -137px;
  }
  .mt_neg52 {
    margin-top: -25px;
  }
  .mt_neg240 {
    margin-top: -120px;
  }
  .recuitmentimgw_1000 {
    max-width: 320px;
  }
  .recruitment_h600 {
    height: 270px;
  }
  .lh_100px {
    line-height: 33px;
  }
  .team_w_215 {
    width: 110px;
  }
  .relationsips_imgw {
    width: 100%;
  }
  .lh_320px {
    line-height: 140px;
  }
  .eyonah_1271px {
    height: 600px;
  }
  .teammanagement::before {
    top: -3%;
  }
  .headitems4 {
    top: -20px;
  }
  .zooshcard::after {
    top: 0;
  }

  .contacttext::before {
    top: -3%;
  }
}
